# Параметры сервера СУБД postgres
PGUSER=<pguser>
PGPASSWORD=<pgpassord>
PGHOST=<pghost>
PGPORT=<pgport>

# Общие параметры 1С
1C_USER=<admin_cluster>
1C_PASSWORD=<password>
1C_HOST=<srv_1c>
RAC_PATH=/opt/1cv8/x86_64/<ver_plarform>/rac

# Параметры тестового кластера
ID_TEST_CLUSTER=<id_cluster>
PORT_TEST=<ras_port>

# Параметры кластера разработки
ID_DEMO_CLUSTER=<id_cluster>
PORT_DEMO=<ras_port>